tensorflow==2.19.0
tensorflow-probability==0.25.0
onnx-tf==1.10.0
tensorflow-addons==0.23.0
torch==2.5.1
torch-audiomentations==0.12.0
numpy==1.26.4
mutagen==1.47.0
torchinfo==1.8.0
torchmetrics==1.7.2
speechbrain==1.0.3
audiomentations==0.41.0
acoustics==0.2.6
pronouncing==0.2.0
datasets==3.6.0
deep-phonemizer==0.0.19
tqdm==4.67.1
pathlib==1.0.1
uuid==1.30
piper-phonemize-cross==1.2.1
webrtcvad==2.0.10
wget==3.2