tensorflow
torch
numpy==1.26.4
datasets
tqdm
pathlib
uuid
piper-phonemize-cross
webrtcvad
mutagen
torchinfo
torchmetrics
speechbrain
audiomentations
torch-audiomentations
acoustics
tensorflow_probability
onnx_tf
pronouncing
datasets
deep-phonemizer
wget
tensorflow-addons