tensorflow
tensorflow_probability
onnx_tf
tensorflow-addons
torch==2.5.1
torch-audiomentations
numpy<=2.0.0
mutagen
torchinfo
torchmetrics
speechbrain
audiomentations
acoustics
pronouncing
datasets
deep-phonemizer
tqdm
pathlib
uuid
piper-phonemize-cross
webrtcvad
wget